In [1]:
import psycopg2

In [2]:
# pip install --upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib gspread oauth2client

In [3]:
import gspread

In [4]:
# importing the required libraries
import gspread
import pandas as pd
from oauth2client.service_account import ServiceAccountCredentials

In [5]:
# define the scope
scope = ['https://spreadsheets.google.com/feeds','https://www.googleapis.com/auth/drive']

# add credentials to the account
creds = ServiceAccountCredentials.from_json_keyfile_name('./json/pass.json', scope)

# authorize the clientsheet
client = gspread.authorize(creds)

In [6]:
# get the instance of the Spreadsheet
sheet = client.open('Samsung - Geral Dia')

# get the first sheet of the Spreadsheet
sheet_instance = sheet.get_worksheet(4)

In [7]:
#retorna os valores da coluna
# sheet_instance.col_values(3)

In [8]:
# get the total number of columns
sheet_instance.col_count
## >> 26

36

In [9]:
# get the value at the specific cell
sheet_instance.cell(col=3,row=2)
## >> <Cell R2C3 '63881'>

In [10]:
sheet_instance.get_note('D81')

''

In [11]:
#Returns a list of all Cell of the current sheet
# sheet_instance.get_all_cells()

In [12]:
# sheet_instance.get_values()

In [13]:
sheet_instance.cell(1, 5).value

'Cost'

In [14]:
# sheet_instance.findall("ca")

In [15]:
# sheet_instance.col_values(4)

In [16]:
#pega com as colunas, necessario colunas diferentes
# records_data = sheet_instance.get_all_records()

In [17]:
# get all the records of the data
# get_values() with no range specified, it will return all the values of the current sheet
# get_all_values() this is a legacy method that calls get_values
# get_all_cells() that will return a single list of Cell object for every cell in that sheet.

In [18]:
from datetime import date, datetime, timedelta

In [19]:
from datetime import datetime, timedelta
futuredate = datetime.now() + timedelta(days=10)

In [20]:
today_minus = f'{date.today()-timedelta(days=1)}|{date.today()-timedelta(days=2)}|{date.today()-timedelta(days=3)}' 
current_date_1 =  f'{date.today()-timedelta(days=1)}'

In [21]:
today_minus

'2022-05-09|2022-05-08|2022-05-07'

In [22]:
import re

In [23]:
def validation(current_date_1_param):
    from datetime import datetime, timedelta
    futuredate = datetime.now() + timedelta(days=10)
    today_minus = f'{date.today()}|{date.today()-timedelta(days=3)}'
    current_date_1 =  f'{date.today()-timedelta(days=current_date_1_param)}'
    pattern = re.compile(r'(%s)'%current_date_1)
    cell_list = sheet_instance.findall(pattern)
    mask = f'R{cell_list[0].row}C{cell_list[0].col}:R{cell_list[-1].row}C9'
    google_ads = sheet_instance.get(mask)
    df = pd.DataFrame(google_ads)
    dictr = {0: 'date',
             3: 'campaign',
             4: 'cost',
             5: 'impressions'}
    df.rename(columns=dictr,inplace=True)

In [24]:
pattern = re.compile(r'(%s)'%today_minus)
cell_list = sheet_instance.findall(pattern)

In [25]:
# cell_list

In [26]:
mask = f'R{cell_list[0].row}C{cell_list[0].col}:R{cell_list[-1].row}C9'

In [27]:
google_ads = sheet_instance.get(mask)

In [28]:
# google_ads

In [29]:
df = pd.DataFrame(google_ads)
# 2065236490

In [30]:
dictr = {0: 'date',
         3: 'campaign',
         4: 'cost',
         5: 'impressions'}
 
# call rename () method
df.rename(columns=dictr,
          inplace=True)
 
# print Data frame after rename columns

In [31]:
for i in dictr.values():
    print(i+'f')

datef
campaignf
costf
impressionsf

In [32]:
df.where(df['campaign'].str.contains('cad26-')).dropna()

,date,1,2,campaign,cost,impressions,6,7,8
0,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,117.95,1790,3574,429,0
1,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0033_seda_brandshop_google_text_smar...,64.66,434,515,34,0
2,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0034_seda_brandshop_google_text_smar...,340.37,3140,7618,210,0
3,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0035_seda_brandshop_google_text_smar...,130.55,515,571,80,0
4,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0037_seda_brandshop_google_local-cam...,157.92,238424,0,434,6248
5,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0038_seda_brandshop_google_local-cam...,188.06,165324,0,665,4971
6,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0039_seda_brandshop_google_local-cam...,315.75,368100,0,951,70832
7,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0040_seda_brandshop_google_local-cam...,250.14,337023,0,655,69294
8,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a9010_seda_brandshop_google_local-cam...,202,202912,0,1197,0
119,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,166.42,1831,3761,420,0
120,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0033_seda_brandshop_google_text_smar...,72.13,507,578,37,0
121,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0034_seda_brandshop_google_text_smar...,318.76,2685,7425,190,0
122,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0035_seda_brandshop_google_text_smar...,105.09,354,409,66,0
123,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0037_seda_brandshop_google_local-cam...,190.62,184652,0,528,3827
124,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0038_seda_brandshop_google_local-cam...,192.23,179522,0,1272,4462
125,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0039_seda_brandshop_google_local-cam...,322.16,385847,0,1354,61112
126,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0040_seda_brandshop_google_local-cam...,243.87,308796,0,872,49195
127,2022-05-08,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a9010_seda_brandshop_google_local-cam...,210.54,317260,0,1741,0
238,2022-05-09,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,148.09,2263,4899,531,0
239,2022-05-09,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0037_seda_brandshop_google_local-cam...,0.05,123,0,0,2
240,2022-05-09,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0039_seda_brandshop_google_local-cam...,0.23,233,0,3,17
241,2022-05-09,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0040_seda_brandshop_google_local-cam...,0.07,118,0,0,11
242,2022-05-09,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a9010_seda_brandshop_google_local-cam...,223.42,184589,0,1479,0

In [33]:
df

,date,1,2,campaign,cost,impressions,6,7,8
0,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0009_seda_brandshop_google_text_inst...,117.95,1790,3574,429,0
1,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0033_seda_brandshop_google_text_smar...,64.66,434,515,34,0
2,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0034_seda_brandshop_google_text_smar...,340.37,3140,7618,210,0
3,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0035_seda_brandshop_google_text_smar...,130.55,515,571,80,0
4,2022-05-07,2065236490,SSG | SEDA | HHP | Brand Shop,ca_cad26-a0037_seda_brandshop_google_local-cam...,157.92,238424,0,434,6248
...,...,...,...,...,...,...,...,...,...
327,2022-05-09,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a0002_seda_care-plus_google_text_inst...,30.94,28,29,13,0
328,2022-05-09,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1000_seda_care-plus_google_text_smar...,292.88,1579,4100,266,0
329,2022-05-09,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a1010_seda_care-plus_google_text_smar...,423.75,243,262,81,0
330,2022-05-09,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a3001_seda_care-plus_google_text_wata...,21.34,43,46,9,0
331,2022-05-09,9981173384,SSG | SEDA | CORPORATE | Care,ca_cad20-a8000_seda_care-plus_gdn_discovery_sm...,491.32,100332,0,1975,0

In [34]:
df.where(df['campaign'].str.contains('cad42')).dropna()

,date,1,2,campaign,cost,impressions,6,7,8
98,2022-05-07,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a3000_hq_ecommerce_google_text_notebo...,869.55,1903,2363,175,0
99,2022-05-07,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a3001_hq_ecommerce_google_text_notebo...,516.82,1936,11104,141,0
100,2022-05-07,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a5500_hq_ecommerce_google_pla_noteboo...,1536.4,49976,0,1259,0
217,2022-05-08,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a3000_hq_ecommerce_google_text_notebo...,691.34,1782,2144,150,0
218,2022-05-08,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a3001_hq_ecommerce_google_text_notebo...,500.74,1962,10819,127,0
219,2022-05-08,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a5500_hq_ecommerce_google_pla_noteboo...,1460.79,49252,0,1196,0
318,2022-05-09,5236648668,SSG | HQ | NPC | ESES | Loja Online,ca_cad42-a5500_hq_ecommerce_google_pla_noteboo...,1652.9,57448,0,1400,0

In [35]:
filters = ['cad1-','cad3-','cad12-','cad26-','cad42-']
final = pd.DataFrame()
for i in filters:
    df3 = df.where(df['campaign'].str.contains(i)).dropna()
    df3['midia'] = 'google'
    group = df3.rename(columns = {'cost':f'cost_{i}', 'impressions':f'impressions_{i}'})
    final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())

/tmp/ipykernel_817/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_817/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_817/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_817/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
/tmp/ipykernel_817/3067131070.py:7: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = final.append(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())

In [36]:
final

,date,midia,cost_cad1-,impressions_cad1-,cost_cad3-,impressions_cad3-,cost_cad12-,impressions_cad12-,cost_cad26-,impressions_cad26-,cost_cad42-,impressions_cad42-
0,2022-05-07,google,8008.74,113389.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-08,google,5989.06,90074.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,2022-05-07,google,NaN,NaN,58650.28,2212568.0,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-05-08,google,NaN,NaN,44281.41,1873491.0,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-05-09,google,NaN,NaN,37507.40,1594285.0,NaN,NaN,NaN,NaN,NaN,NaN
0,2022-05-07,google,NaN,NaN,NaN,NaN,1491.57,13152.0,NaN,NaN,NaN,NaN
1,2022-05-08,google,NaN,NaN,NaN,NaN,1650.44,14202.0,NaN,NaN,NaN,NaN
0,2022-05-07,google,NaN,NaN,NaN,NaN,NaN,NaN,1767.40,1317662.0,NaN,NaN
1,2022-05-08,google,NaN,NaN,NaN,NaN,NaN,NaN,1821.82,1381454.0,NaN,NaN
2,2022-05-09,google,NaN,NaN,NaN,NaN,NaN,NaN,371.86,187326.0,NaN,NaN
0,2022-05-07,google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2922.77,53815.0
1,2022-05-08,google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2652.87,52996.0
2,2022-05-09,google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1652.90,57448.0

In [35]:
filters = ['cad1-','cad3-','cad12-','cad26-']
final = pd.DataFrame()
for i in filters:
    df3 = df.where(df['campaign'].str.contains(i)).dropna()
    df3['midia'] = 'google'
    group = df3.rename(columns = {'cost':f'cost_{i}', 'impressions':f'impressions_{i}'})
    df1 = pd.DataFrame(group.groupby(['date','midia'])[[f'cost_{i}',f'impressions_{i}']].apply(lambda x : x.astype(float).sum()).reset_index())
    rsult = pd.concat([df1, df1], axis=1, join="outer")

In [38]:
rsult

,date,midia,cost_cad26-,impressions_cad26-,date,midia,cost_cad26-,impressions_cad26-
0,2022-04-21,google,2904.27,1716805.0,2022-04-21,google,2904.27,1716805.0

In [99]:
# df.groupby(0)[3].apply(lambda ser: ser.str.contains("cad26-"))

In [109]:
result = df.where(filter1)

In [110]:
result.dropna()

Empty DataFrame
Columns: [date, 1, 2, campaign, cost, impressions, 6, 7, 8]
Index: []

In [108]:
result.groupby('date')[['cost','impressions']].apply(lambda x : x.astype(float).sum()).reset_index()

         date      cost  impressions
0  2022-04-19  66061.82    2910958.0

In [206]:
# df.dropna().groupby(0)[[4,5]].sum(4).reset_index()

            0         4          5
0  2022-04-18  47206.76  2561709.0

In [139]:
df['midia'] = 'google'

In [140]:
df.dropna()

,0,1,2,3,4,5,6,7,8,midia
47,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a0009_hq_ecommerce_google_text_institu...,1018.10,19103,20337,3721,0,google
48,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a0010_hq_ecommerce_google_text_institu...,2239.63,9200,9650,2091,0,google
49,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4075_hq_ecommerce_google_text_smartph...,2509.24,18648,38821,971,0,google
50,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4081_hq_ecommerce_google_text_smartph...,123.95,986,1055,66,0,google
51,2022-04-16,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a4082_hq_ecommerce_google_text_smartph...,598.90,5315,5837,275,0,google
...,...,...,...,...,...,...,...,...,...,...
260,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5512_hq_ecommerce_google_pla_accessor...,1852.05,128118,0,2465,0,google
261,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5934_hq_ecommerce_google_pla_wearable...,5287.66,234912,0,2180,0,google
262,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5940_hq_ecommerce_google_pla_tablets_...,5777.19,344951,0,4081,0,google
263,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5942_hq_ecommerce_google_pla_hearable...,817.00,78111,0,740,0,google
264,2022-04-18,4355872554,SSG | HQ | HHP | ESES | Loja Online,ca_cad3-a5946_hq_ecommerce_google_pla_smartpho...,14681.43,1318764,0,16098,0,google

In [678]:
valid = pd.DataFrame(columns=['midia', 'cost','imp'])

In [679]:
filters = ['cad1-','cad3-','cad12-','cad26-','cad42-']

In [680]:
for i in filters:
    cad_filter = df[df[3].str.contains(i)]
    valid.loc[i] =  [i+'cad1inv',cad_filter[4].astype(float).sum(),cad_filter[5].astype(float).sum()]

In [681]:
valid

               midia      cost        imp
cad3-    cad3-google  47206.76  2561709.0
cad26-  cad26-google   2581.64  1683406.0
cad42-  cad42-google    516.60    29540.0

In [663]:
valid.loc[0] =  ['cad3-google',cad_filter[5].astype(float).sum(),cad_filter[4].astype(float).sum()]

In [664]:
valid

          midia       cost      imp
1  cad26-google  1683406.0  2581.64

In [648]:
valid

          midia       cost      imp
0  cad26-google  1683406.0  2581.64

In [43]:
# add a sheet with 20 rows and 2 columns
# sheet.add_worksheet(rows=20,cols=2,title='runs')

# get the instance of the second sheet
sheet_runs = sheet.get_worksheet(1)

In [42]:
sheet_runs.insert_rows(runs.values.tolist())

{'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
 'updates': {'spreadsheetId': '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM',
  'updatedRange': 'runs!A1:B3',
  'updatedRows': 3,
  'updatedColumns': 2,
  'updatedCells': 6}}

In [41]:

# number of runs by each batsman
runs = records_df.groupby(['pais'])['quantidade'].count().reset_index()
runs

       pais  quantidade
0  alemanha          10
1    brasil           4
2     japao           6

In [51]:
# def main():
#     """Shows basic usage of the Sheets API.
#     Prints values from a sample spreadsheet.
#     """
#     creds = None
#     # The file token.json stores the user's access and refresh tokens, and is
#     # created automatically when the authorization flow completes for the first
#     # time.
#     if os.path.exists('token.json'):
#         creds = Credentials.from_authorized_user_file('token.json', SCOPES)
#     # If there are no (valid) credentials available, let the user log in.
#     if not creds or not creds.valid:
#         if creds and creds.expired and creds.refresh_token:
#             creds.refresh(Request())
#         else:
#             flow = InstalledAppFlow.from_client_secrets_file(
#                 'fiap3sis-3b74d339060b.json', SCOPES)
#             creds = flow.run_local_server(port=0)
#         # Save the credentials for the next run
#         with open('token.json', 'w') as token:
#             token.write(creds.to_json())

#     try:
#         service = build('sheets', 'v4', credentials=creds)

#         # Call the Sheets API
#         sheet = service.spreadsheets()
#         result = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID,
#                                     range=SAMPLE_RANGE_NAME).execute()
#         values = result.get('values', [])

#         if not values:
#             print('No data found.')
#             return

#         print('Name, Major:')
#         for row in values:
#             # Print columns A and E, which correspond to indices 0 and 4.
#             print('%s, %s' % (row[0], row[4]))
#     except HttpError as err:
#         print(err)

In [55]:
import pandas as pd
from googleapiclient.discovery import build
from google_auth_oauthlib.flow import InstalledAppFlow,Flow
from google.auth.transport.requests import Request
import os
import pickle

SCOPES = ['https://www.googleapis.com/auth/drive']

# here enter the id of your google sheet
SAMPLE_SPREADSHEET_ID_input = '1I-T8eg390sxC7JVMR61YmqBXgCqwXKH0FtwHX5KUdfM'
SAMPLE_RANGE_NAME = 'A1:AA1000'

def main():
    global values_input, service
    creds = None
    if os.path.exists('token.pickle'):
        with open('token.pickle', 'rb') as token:
            creds = pickle.load(token)
    if not creds or not creds.valid:
        if creds and creds.expired and creds.refresh_token:
            creds.refresh(Request())
        else:
            flow = InstalledAppFlow.from_client_secrets_file(
                'fiap3sis-3b74d339060b.json', SCOPES) # here enter the name of your downloaded JSON file
            creds = flow.run_local_server(port=0)
        with open('token.pickle', 'wb') as token:
            pickle.dump(creds, token)

    service = build('sheets', 'v4', credentials=creds)

    # Call the Sheets API
    sheet = service.spreadsheets()
    result_input = sheet.values().get(spreadsheetId=SAMPLE_SPREADSHEET_ID_input,
                                range=SAMPLE_RANGE_NAME).execute()
    values_input = result_input.get('values', [])

    if not values_input and not values_expansion:
        print('No data found.')

main()

df=pd.DataFrame(values_input[1:], columns=values_input[0])

ValueError: Client secrets must be for a web or installed app.